.question {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #716868;

    strong {
        font-weight: 700;
    }
}

:host-context(.night-theme) {
    .question {
        color: #FFFFFF;
    }

    form .submit button {
        background: #5B6D7E;

        &:hover {
            background: #8098af;
        }
    }

    .radio-button {
        label {
            color: #FFFFFF;
        }

        label:before {
            border: 2px solid #FFFFFF;
        }

        input[type=radio]:checked+label:after {
            background: #FFFFFF;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    .radio-button {
        position: relative;
        display: flex;
        margin: 19px 19px auto 0;
    }

    .submit {
        margin-top: 21px;
        display: flex;
        flex-direction: row-reverse;

        .submit-button {
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            padding: 4px 10px;
            border: none;
            align-items: center;
        }
    }
}