:host-context(.night-theme) {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0C0C08;
        z-index: -1;
    }

    .wrapper {
        hr {
            border: 1px solid #5B6D7E;
        }
        .logo {
            color: #5B6D7E;
        }

        .text {
            color: #fff;
        }

        .start {
            background: #5B6D7E;
        }
    }
}

.wrapper {
    margin: auto 34px;
    text-align: center;

    hr {
        border: 1px solid #93C2ED;
        margin: 24px;
    }

    .logo {
        font-family: 'Waiting for the Sunrise';
        font-style: normal;
        font-weight: 300;
        line-height: 80px;
        font-size: 80px;
        color: #93C2ED;
        margin: 32px auto;
    }

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #716868;
        text-align: left;
        margin: 67px auto;

        strong {
            font-weight: 700;
        }
    }

    .start {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        background: #93C2ED;
        border: none;
        padding: 16px 38px;
        margin: 50px auto;

        &:hover {
            background: #7297b9;
        }
    }
}