.name {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #716868;
    transition-duration: 0.3s;
}

:host-context(.night-theme) {
    .name {
        color: #FFFFFF;
    }

    .background .left .save {
        background: #5B6D7E;

        &:hover {
            background: #8098af;
        }
    }

    .choice-theme .radio-button {
        label {
            color: #FFFFFF;
        }

        label:before {
            border: 2px solid #FFFFFF;
        }

        input[type=radio]:checked+label:after {
            background: #FFFFFF;
        }
    }
}

.choice-theme {
    display: flex;
    margin: 14px 0;

    .radio-button {
        width: 50%;
        display: flex;
        position: relative;

        input[type=radio]:checked+label:after {
            top: 8px;
        }
    }
}

.background {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: space-between;

        .save {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            border: none;
            padding: 4px 7px;
            margin: 0 auto;
        }
    }
}