/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

body{
    font-family: 'Roboto';
}
button{
    background: #93C2ED;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
